.title_appointment {
    text-align: center; /* Căn giữa theo chiều ngang */
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: flex-start; /* Căn phía trên theo chiều dọc */
    margin: 0 ; /* Để loại bỏ margin mặc định */
    border: 5px solid rgb(20, 138, 240);
    border-radius: 15px;
    height: 60px;
    font-size: 28px;
    font-weight: 300;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    background-color: rgb(28, 144, 232);
    margin-bottom: 15px;
}